.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: linear-gradient(90deg, #191919 5%, #4d4d4d 59%, #808080 100%);
}

.wrapper>img {
  width: 170px;
}

.wrapper>form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #252525;
  padding: 30px;
  border-radius: 10px;
}